Repository bucolucas/KiP, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/fact-checkers, @your-org/editors, @your-org/maintainers, @your-org/web

Create LICENSE
  LICENSE
Owners: none

Update README.md
  README.md
Owners: none

Slop mitigation
  .env.example
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/topic_scaffold.yml
  .gitignore
  content/editorial-pipeline/topics/topic-0001/articles/pack.json
  packages/newsroom-core/pyproject.toml
  schemas/claim.schema.json
  schemas/source.schema.json
  schemas/verification_schema
  tools/newsroom-cli/pyproject.toml
Owners: @your-org/maintainers, @your-org/fact-checkers, @your-org/editors

Add getStaticPaths to dynamic article route to fix static build
  apps/main-website/src/pages/articles/[slug].astro
Owners: @your-org/web

Corrected name of verification_schema.json
  schemas/verification_schema.json
Owners: none

Slop miiiiiiiiiiitigation
  schemas/verification.schema.json
Owners: none

Added getstaticpaths
  apps/main-website/src/pages/articles/[slug].astro
Owners: @your-org/web

Added base astro page
  apps/main-website/src/layouts/Base.astro
  apps/main-website/src/pages/articles/[slug].astro
  apps/main-website/src/pages/index.astro
Owners: @your-org/web

Fixed node errors
  .github/workflows/publish.yml
  apps/main-website/astro.config.mjs
  apps/main-website/package-lock.json
  apps/main-website/package.json
  apps/main-website/src/lib/loadContent.ts
  apps/main-website/src/pages/articles/[slug].astro
Owners: @your-org/maintainers, @your-org/web

CODEOWNERS:

# Require specific human approvals on critical paths
  /content/editorial-pipeline/**         @your-org/fact-checkers @your-org/editors
  /governance/**                         @your-org/editors
  /prompts/**                            @your-org/editors
  /packages/newsroom-core/**             @your-org/maintainers
  /tools/newsroom-cli/**                 @your-org/maintainers
  /apps/main-website/**                  @your-org/web
  /.github/**                            @your-org/maintainers
